.outer {
  background-color: grey;
  border: 1px soild #000;
}
.first {
  width: 300px;
  height: 300px;
  background-color: thistle;
}
.second {
  width: 200px;
  height: 200px;
  background-color: violet;
  top: 50px; /* offset 위로부터 50px 떨어뜨리기 */
  left: 50px; /* offset 좌로부터 50px 떨어뜨리기 */
}
.third {
  width: 100px;
  height: 100px;
  background-color: magenta;
  top: 100px;
  left: 100px;
}
.circle {
  width: 50px;
  height: 50px;
  background-color: tomato;
  border-radius: 50%;
  bottom: 50px;
  right: 50px;
}

.p-relative { position: relative; }
.p-absolute { position: absolute; }
.p-fixed { position: fixed; }
.p-sticky { 
  position: sticky;
  top: 0px; 
  background-color: goldenrod;
  z-index: 999; /* 값이 클수록 앞(사용자)에 위치 */
}
.wrap {
  height: 80px;
  margin: 30px;
}
.box {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  position: absolute;
}
.box1{
  background-color: antiquewhite;
}
.box2 {
  background-color: cadetblue;
  top: 20px;
  left: 20px;
}
.box3 {
  background-color: steelblue;
  top: 40px;
  left: 40px;
}
.z-10 { z-index: 10; }
.z-20 { z-index: 20; }
.z-30 { z-index: 30; }