.box {
  width: 100px;
  height: 100px;
  background-color: tomato;
  border: 2px solid #000;

  /* transition-duration: 1s; */
  /* all (기본값) */
  /* transition-property: width, height;  */
  /* transition-delay: .5s; */
  /* transition-timing-function: ease-out; */

  /* transition: property duration timing-function delay */
  transition: all 1s ease-out .5s;
}

.box:hover {
  background-color: yellow;
  width: 200px;
  height: 200px;
}

/* 트랜지션이 적용된 게시글 카드 */
.card {
  display: inline-block;
  width: 380px;
  height: 380px;
  margin: 10px;
  padding: 30px;
  background-color: #99aeff;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  box-shadow: 0 35px 77px -17px rgba(0, 0, 0, .4);
  overflow: hidden;
  transition-duration: .3s;
}
.card h1 {
  font-weight: 300;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
}
.card h2 {
  font-weight: 300;
  margin-top: 20px;
  font-style: italic;
  transform: translate(-280px, 0);
  opacity: .7;
}
.card p {
  font-weight: 300;
  margin-top: 20px;
  line-height: 24px;
  transform: translate(380px, 0);
  transition-delay: .1s;
  opacity: .5;
}
.transition {
  transition-duration: .5s;
}
.card:hover {
  box-shadow: 0 35px 77px -17px rgba(0, 0, 0, .8);
}
.card:hover .transition {
  transform: translate(0, 0);
  opacity: 1;
  font-weight: 700;
}





